{% extends 'base.html' %}

{% block title %} Lista de Tarefas {% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Task List</h1>
        <a href="{% url 'newTask' %}" id="add-link">
            <div class="col-2 add-div">
                <i class="fas fa-plus"></i> Adicionar Tasks
            </div>
        </a>
        <div class="col-9 search-div">
            <input type="text" id="search" name="search" placeholder="Tarefa">
            <i class="fas fa-search"></i>
        </div>
        {% for t in task %}
            <ul class="taks-list">
                <li class="task-item">
                    <span><a href="{% url 'taskDetail' t.id %}">{{ t.title }}</a></span>
                    <a href="{% url 'deleteTask' t.id %}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                    <a href="{% url 'editeTask' t.id %}"><span><i class="fas fa-edit"></i></span></a>
                </li>
            </ul>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if task.has_previous %}
                    <a href="?page={{ task.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
                {% endif %}
                <span class="current">{{ task.number }} de {{ task.paginator.num_pages }}</span>
                {% if task.has_next %}
                    <a href="?page={{ task.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}