{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Lista de Tarefas {% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Nova Tarefa</h1>
        <br>
        <div class="col-9 search-div">
            <form action="{% url 'newTask' %}" method="POST">
                {% csrf_token %}
                <p>
                    {% render_field form.title class="form-control" placeholder=form.title.label %}
                </p>
                <p>
                    {% render_field form.description class="form-control" placeholder=form.description.label %}
                </p>

                <a class="btn btn-secondary" href="{% url 'taskList' %}">Voltar</a>
                <button class="btn btn-primary" type="submit">Adicionar</button>
            </form> 
        </div>
    </div>
{% endblock %}