.container{
    padding: 0;
}

a{
    text-decoration: none;
}

/* Navbar */
.navbar{
    border-bottom: 0 solid;
    margin-bottom: 20px;
}


.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: black;
}

/* tarefas */
.list-div{
    padding: 0;
}

.list-div h1{
    padding-left: 30px;
}

.fas.fa-search{
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.add-div{
    padding-left: 32px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(18, 18, 123);
}

#add-link{
    text-decoration: none;
}

.search-div input{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    border: 1px solid gray;
}

.search-div #submit{
    margin-bottom: 6px;
    height: 41px;
    width: 70px;
}

/* dashboard */
.dashboard{
    padding: 0;
    width: 100%;
    display: block;
    padding-left: 32px;
    margin-top: 10px;
}

.dashboard h4{
    font-size: 20px;
}

.dashboard span{
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box{
    float: left;
    background-color: #DFDFDF;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    height: 120px;
    width: 32%;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-box:nth-child(2){
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#dashboard-lastdays{
    background-color: #3476e2;
}

#dashboard-done{
    background-color: limegreen;
}

#dashboard-doing{
    background-color: red;
}

/* filtro */
.filter-div{
    margin-bottom: 25px;
    padding: 0;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

.list-div .search-div{
    padding-left: 32px;
}

.task-list{
    padding-left: 0;
}
.list-div .search-div .fas.fa-plus{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}

.task-item.done{
    background-color: #ccc;
}

.task-item a{
    text-decoration: none;
}

.fas.fa-trash, .fas.fa-edit, .fas.fa-check{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash{
    color: red;
}

.fas.fa-edit{
    color: limegreen;
}

.fas.fa-check{
    color: #CCC;
}

.done .fas.fa-check{
    color: #3476e2;
}

/* footer */
footer{
    background-color: rgb(240, 240, 240);
    height: 50px;
    border-top: 0 solid;
}

footer p{
    color: black;
    text-align: center;
    top: 25%;
    position: relative;
}


/* paginação */
.pagination{
    margin: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}


/* Login */
.auth-card{
    margin-bottom: 30px;
}

.change-form-p{
    margin-top: 25px;
    text-align: center;
}
